.body
{
    max-width: 360px;
    width: 90%;
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #1c1c1c;
    border: solid 1px red;
    border-radius: 10px;
}

.body form
{
    width: 100%;
}

.body form .output
{
    width: 100%;
    height: 3.5rem;
    margin: 2rem auto;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: red;
}

.clipboard
{
    width: 25px;
    height: 25px;
    background: url('../../public/images/clipboard-icon.png') no-repeat contain;
    cursor: pointer;
}

.body form .output output
{
    font-size: 1rem;
}

.body .row
{
    margin-bottom: 1rem;
}

.body .row:last-child
{
    margin-bottom: 0;
}

.body label
{
    margin-right: 1rem;
}

.body label:hover, .body input:hover, .body button
{
    cursor: pointer;
}

.body form button
{
    width: 100%;
    display: block;
    margin-top: 2rem;
    padding: 0.5rem;
    background-color: #7a0000;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.body form button:hover
{
    background-color: #ca0000;
}

.flex {display: flex;}
.flexSpaceBetween {justify-content: space-between;}